<div
  class="container d-flex align-items-center"
  style="height: 100%;"
>
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <div class="row justify-content-around">
        <div class="col justify-content-start">
          <h1
            class="land_page_title"
            style="font-size: 10vw; color: #660607;"
            id="land_page_title"
          >
            OLB
          </h1>
        </div>
        <div class="col-sm justify-content-end">
          <h1
            class="land_page_title"
            style="font-size: 10vw; color: #d4af37;"
            id="land_page_title"
          >
            24
          </h1>
        </div>
      </div>

      <div class="row">
          <div class="col">
            <h1 style="font-size: 10vw; color: #ffffff;" class="land_page_title">
              GRADUATES
            </h1>
          </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
          <div class="card border-0" style="width: 18rem">
            <div class="card-body">
                <form>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="email" id="form2Example1" class="form-control" />
                      <label class="form-label" for="form2Example1">Email address</label>
                    </div>
                
                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="password" id="form2Example2" class="form-control" />
                      <label class="form-label" for="form2Example2">Password</label>
                    </div>
                
                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4 justify-content-center">
                      <div class="col">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                      </div>
                    </div>
                
                    <!-- Submit button -->
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
                
                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>Not a member? <a href="#!">Register</a></p>
                      <p>or sign up with:</p>
                      <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                
                      <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>
                
                      <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
                
                      <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                      </button>
                    </div>
                  </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
