#bg {
    background-color: #272D40;
    height: 100%;
}

$d: 70; // density
$w: 600; // grid size
$s: 7s; // speed

$grad: ();
@for $i from 0 to $d {
  $v: random(4) + 2;
  $a: random(5) * 0.1 + 0.5;
  $grad: $grad,
    radial-gradient(
      $v +
        px
        $v +
        px
        at
        (random($w - $v * 2) + $v) +
        px
        (random($w - $v * 2) + $v) +
        px,
      rgba(255, 255, 255, $a) 50%,
      rgba(0, 0, 0, 0)
    ) !global;
}

.snow,
.snow:before,
.snow:after {
  pointer-events: none;
  position: absolute;
  top: -$w + px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: $grad;
  background-size: $w + px $w + px;
  animation: snow $s linear infinite;
  content: "";
}
.snow:after {
  margin-left: calc(-1 * $w/3 + px);
  opacity: 0.4;
  animation-duration: $s * 2;
  animation-direction: reverse;
  filter: blur(3px);
}
.snow:before {
  animation-duration: $s * 3;
  animation-direction: reverse;
  margin-left: calc(-1 * $w/2 + px);
  opacity: 0.65;
  filter: blur(1.5px);
}
@keyframes snow {
  to {
    transform: translateY($w + px);
  }
}