<!-- <button class="btn bsb-btn-2xl btn-primary" type="submit" (click)="this.authService.logout()">Sign Out</button> -->

<div class="snow-container">
    <div class="snow"></div>
</div>

<header>
    <app-header />
</header>

<!-- <div class="snow"></div> -->

<div class="content">
    <section class="py-5 text-center container">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @for (user of (users$ | async); track user['uid']) {
                <app-user-card [user]="user" />
            }
            </div>
        </div>
    </section>
</div>