<div class="card text-body">
  <div class="card-body p-4">
    <h4 class="mb-0">Comments</h4>
    <p class="fw-light mb-4 pb-2">See what our class has to say!</p>
    <div class="border border-2 rounded mb-4 p-2" (click)="open()" id="addComment">
      Add a comment!
    </div>
    @if(commentsPrivate$ | async; as comments) {
        @for (comment of comments; track comment['uid']) {
            @if (this.authService.currentUser!.uid == uid || this.authService.currentUser!.uid == comment['uid']) {
                <app-comment [comment]="comment"/>
            }
            
        }

        <hr class="my-2" />

    }
    @if(commentsClassOnly$ | async; as comments) {
        @for (comment of comments; track comment['uid']) {
            <app-comment [comment]="comment"/>
        }

        <hr class="my-2" />

    }

    @if (commentsPublic$ | async; as comments) {
        @for (comment of comments; track comment['uid']) {
            <app-comment [comment]="comment"/>
        }
    }
  </div>

</div>
