<!-- snow background -->

<div class="snow-container">
    <div class="snow"></div>
</div>


<header>
  <app-header />
</header>

<section class="pt-4 pb-3" id="bg">
  <div class="container">
    <div class="main-body">
      <div class="row gy-3">
        @if (userDB$ | async; as user) {

        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img
                  [src]="
                    user['profilePicUrl'] != null
                      ? user['profilePicUrl']
                      : 'https://bootdey.com/img/Content/avatar/avatar6.png'
                  "
                  alt="Profile Pic"
                  class="rounded-circle p-1 bg-primary"
                  width="110"
                />
                <div class="mt-3">
                  <h4>{{ user["name"] }}</h4>
                  <p class="text-muted fs-5 mb-3">{{ user["gradQuote"] }}</p>
                  @if (this.authService.currentUser!.uid == user['uid']) {
                  <button class="btn btn-primary" [routerLink]="['/', 'update-profile']" routerLinkActive="router-link-active">Update Profile</button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        }
        <div class="col-lg-7 overflow-y-auto">
            <app-comments />
        </div>
      </div>
    </div>
  </div>
</section>
